@import "base/variables";

// foundation
@import "base/foundation-settings";
@import "foundation";
@include foundation-everything;

//Navbar
@import "NavBar/main";

//Client Management
// @import "ClientManagement/main.scss";

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
    box-shadow: none !important;
}

.OBLIST{
    max-height:500px;
    overflow-y:scroll;
    overflow-x:hidden;
}
