<script type="text/javascript">
    var username = "{{username}}";
    var clearance = "{{clearance}}"
</script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div id="app"></div>
<script src="bundle.js"></script>
