.NavbarDrawer{
    margin-top:64px !important;
}
.drawerWelcoming{
    text-align:right !important;
}
.drawerCloseBtn{
    position:fixed !important;
    bottom:0 !important;
    width:300px !important;
    text-align:center !important;
}
